/* Start coding here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Role Name class , id */






/* Style : Custome by */

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feature-card{
    width: 387px;
    height: 272px;
    border-radius:  24px;
    background-color: antiquewhite;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.feature-card-items-1{
    background-color: #d7e5f6;
}
.feature-card-items-2{
    background-color: #d8e0fc;
}
.feature-card-items-3{
    background-color: #e8dcf6;
}

.feature-card-image{
    width: 60px;
    height: 60px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-card-title{
    color:#1A1A2C ;
    font-size: 24px;
}
.feature-card-paragrap{
    color: #5F5F76;

}

.feature-card-content{
    display: flex;
    flex-direction: column;
    gap: 12px;

}