/* Start coding here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #f6f6fb;
}

/* Role Name class , id */
.NavHero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Nav-box {
    padding: 24px;
    height: 128px;
    width: 1440px;
    gap: 10px;
}

.Nav-logo {
    width: 91.67px;
    height: 40px;
    background-color: white;
}

.Nav-box nav {
    display: flex;
    width: 1392px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 12px 80px 12px 80px;
    background-color: white;
    border: none;
    border-radius: 99px;
    box-shadow: 0 1px 5px lightgray;
}

.Nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px 16px 24px;
    gap: 40px;
    width: 420px;
    height: 56px;
    background-color: white;
}

.Nav-menu a {
    background-color: white;
    text-decoration: none;
    color: black;
}

.Nav-menu a:first-child {
    text-decoration: underline;
    color: #5E44FF;
}

.Hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 316px;
    gap: 40px;
    margin-top: 128px;
}

.Hero-title {
    border: none;
    border-radius: 999px;
    background-color: #563AFF1A;
    color: #5E44FF;
    width: 236px;
    height: 40px;
    padding: 8px 20px 8px 20px;
}

.Hero-quote {
    font-size: 80px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -2%;
}

.Hero-quote-highlight {
    color: #5E44FF;
}

.Hero-msg {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    height: 32px;
}

.Hero-button {
    width: 187px;
    height: 56px;
    border: none;
    border-radius: 16px;
    padding: 16px 36px 16px 36px;
    gap: 6px;
    background-color: #1A1A2C;
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
}

