/* Start coding here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #f6f6fb;
}
/* Role Name class , id */
.NavHero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Nav-box {
    padding: 24px;
    height: 128px;
    width: 1440px;
    gap: 10px;
   
    
}

.Nav-logo {
    width: 91.67px;
    height: 40px;
    background-color: white;
}

.Nav-box nav {
    display: flex;
    width: 1392px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 12px 80px 12px 80px;
    background-color: white;
    border: none;
    border-radius: 99px;
    box-shadow: 0 1px 5px lightgray;
    position: fixed;
}

.Nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px 16px 24px;
    gap: 40px;
    width: 420px;
    height: 56px;
    background-color: white;
}

.Nav-menu a {
    background-color: white;
    text-decoration: none;
    color: black;
}

.Nav-menu a:first-child {
    text-decoration: underline;
    color: #5E44FF;
}

.Hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 316px;
    gap: 40px;
    margin-top: 128px;
}

.Hero-title {
    border: none;
    border-radius: 999px;
    background-color: #563AFF1A;
    color: #5E44FF;
    width: 236px;
    height: 40px;
    padding: 8px 20px 8px 20px;
}

.Hero-quote {
    font-size: 80px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -2%;
}

.Hero-quote-highlight {
    color: #5E44FF;
}

.Hero-msg {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    height: 32px;
}

.Hero-button {
    width: 187px;
    height: 56px;
    border: none;
    border-radius: 16px;
    padding: 16px 36px 16px 36px;
    gap: 6px;
    background-color: #1A1A2C;
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
}

.feature-Section {
  margin-top: 120px;
}

/* Style : feature style  */

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.feature-card {
  width: 387px;
  height: 272px;
  border-radius: 24px;
  background-color: antiquewhite;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.feature-card-items-1 {
  background-color: #d7e5f6;
}
.feature-card-items-2 {
  background-color: #d8e0fc;
}
.feature-card-items-3 {
  background-color: #e8dcf6;
}

.feature-card-image {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-card-title {
  color: #1a1a2c;
  font-size: 24px;
}
.feature-card-paragraph {
  color: #5f5f76; 
}

.feature-card-items-1 .feature-card-content,
.feature-card-items-1 p,
.feature-card-items-1 h2 {
  background-color: #d7e5f6;
}

.feature-card-items-2 .feature-card-content,
.feature-card-items-2 p,
.feature-card-items-2 h2 {
  background-color: #d8e0fc;
}

.feature-card-items-3 .feature-card-content,
.feature-card-items-3 p,
.feature-card-items-3 h2 {
  background-color: #e8dcf6;
}

.feature-card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-Section {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.contact-title-h2 {
  font-size: 44px;
  background-color: #FFFFFFB2;
}

.card-contact-input label {
  background-color: #FFFFFFB2;
}

.card-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  border-radius: 24px;
  background-color: #FFFFFFB2;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.01);
  margin-left: 120px;
  margin-right: 120px;
  width: 1199px;
  height: 666px;
}

.card-contact-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  background-color: white;
}

.card-contact-input input,
textarea {
  width: 589px;
  height: 48px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e0e0ed;
  background-color: white;
}

.card-contact-input input::placeholder,
textarea::placeholder {
  font-size: 16px;
  color: #9393AC;
}

.card-contact-input textarea {
  height: 102px;
}
.card-contact-input label {
  font-size: 16px;
  color: #5f5f76;
}

.contact-btn {
  width: 589px;
  border-radius: 16px;
  padding: 16px 36px;
  background-color: #1a1a2c;
  color: #ffffff;
}

/* footer style */

.footer-container,
.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  margin: 80px 350px;
}
.footer-detail {
  color: #5f5f76;
}

.footer-link {
  gap: 37px;
}

.footer-link a {
  text-decoration: none;
  color: #1a1a2c;
}
